.mainContainer
    position: absolute
    width: 400px
    right: -10px
    top: 100%
    background-color: #babbbd
    text-align: center
    z-index: 10
.menuHeader
    display: flex
    justify-content: space-between
    padding: 10px
.menuTitle
    flex-grow: 2    
.btnClose
    margin-right: 0
    width: 50px
    margin-right: 10px
    color: #9A9B9D
    cursor: pointer
.menuItem
    display: inline-block
    text-align: left
    padding: 10px
    padding-left: 60px
    color: #504F4C
    text-decoration: none
    & :visited
        color: #504F4C

