.container
    background-color: #0079BE
    color: #E0F4FD
    padding-left: 40px
    padding-right: 20px
    padding-top: 20px
    font-weight: 900
    height: calc(100vh - 70px)
.containerHeader
    display: flex
    align-items: center
    justify-content: space-between
    position: relative
.menuContainer
    cursor: pointer
.dots
    margin-right: 5px
    vertical-align: text-top
.menu
    text-decoration: underline 
.listsContainer
    display: flex
    flex-wrap: nowrap
    margin-top: 10px
    overflow: auto
    height: calc(100% - 35px)
    &::-webkit-scrollbar 
        height: 20px
    &::-webkit-scrollbar-track 
        background: #f1f1f1 
        box-shadow: inset 0 0 5px grey 
        border-radius: 10px 
    &::-webkit-scrollbar-thumb 
        background: #888
        border-radius: 10px 
    &::-webkit-scrollbar-thumb:hover 
        background: #555 

    


